
covid19_tracker/android/app/google-services.json
covid19_tracker/android/app/google-services.json
COVID-Tracker-Services/.vs/config/applicationhost.config
COVID-Tracker-Services/.vs/COVID-Tracker-Services/v15/.suo
COVID-Tracker-Services/.vs/COVID-Tracker-Services/v15/Server/sqlite3/storage.ide
COVID-Tracker-Services/.vs/COVID-Tracker-Services/v15/Server/sqlite3/storage.ide-shm
COVID-Tracker-Services/.vs/COVID-Tracker-Services/v15/Server/sqlite3/storage.ide-wal
COVID-Tracker-Services/COVID-Tracker-Services/Web.Debug.config
